h1{
    color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

h2{
    color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}